.option{
    padding: 10px 20px;
    background-color: bisque;
    border: navajowhite;
}

label{
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}